@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-VariableFont_wght.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #5f2c82, #49a09d)
}